# Ignore all dotfiles by default
.*

# Don't ignore these dotfiles
!.editorconfig
!.gitignore
!.npmignore
!.npmrc

# Don't commit lockfiles for packages
# that are not standalone applications
package-lock.json
yarn.lock

# Don't track dependencies
node_modules
