# Always pin versions
save-prefix =
# Show any run-script execution
foreground-scripts = true
# Don't generate unnecessary lockfiles
package-lock = false
# Force staleness checks for cached data
prefer-online = true

# GPG sign git commits & tags when using `npm version`
sign-git-commit = true
sign-git-tag = true

# Disable unnecessary calls to home
audit = false
fund = false
update-notifier = false
send-metrics = false

# Log all HTTP requests, and
# disable spinners & progress bars
loglevel = http
progress = false
spin = false
